body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.inline-block {
    display:inline-block;
    vertical-align:top;
    border-style:solid;
    border-color: tomato;
}

header {
    background-color: #3C7DB2;
    display:flex;
    flex-direction: row;
    height:fit-content;
    border-style:solid;
    border-color: tomato;
    
}


.logo {
    height: 150px;
    border-style:solid;
    border-color: tomato;
}  

.Vero {
   justify-content:right;
    padding:15px;
    margin: 20px;
    width:30%;
    border-style:solid;
    border-color: tomato;
}

nav {
    display:flex;
    justify-content: space-evenly;
    align-content: center;
    width: 75%;
    padding:1%;
    height:80px;
    background-color: #3C7DB2;
    color:antiquewhite;
    border-style:solid;
    border-color: tomato;
}

ul {
    width:50%;
    margin-left: auto;
    border-style:solid;
    border-color: tomato;
}

.heroImg {
    max-height: 600px;
    display: inline;
    border-style:solid;
    border-color: tomato;
}

.skillImage {
    max-width:388px;
    max-height: 545px;
    min-width: 234px;
    overflow:inherit;

}

h1{
    color:#6E278C;
}

h3{
    color:#6E278C;
}

.content {
    width: 500px;
    margin-right:auto;
    text-align:left;
    justify-content: left;
    border-style:solid;
    border-color: tomato;
    
    

}

button {
    background-color:#6E278C;
    color: antiquewhite;
    box-shadow: burlywood;
}

.flexContainer {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    column-width: 33%;
    padding: 20px;
    margin: 5px;
    border-style:solid;
    border-color: tomato;
    position: relative;
    justify-content: center;
}

.card {
    flex:1;
    max-width:388px;
    max-height: 545px;
    min-width: 234px;
    margin: 10px;
}

footer {
    width:100%;
    padding: 5px;
    background-color:#6E278C;
    color:antiquewhite;
    border-style:solid;
    border-color:tomato;
}
